[submodule "Samples/LobbyDump"]
	path = Samples/LobbyDump
	url = https://github.com/paralin/dota2lobbydump
[submodule "Samples/GameConnect"]
	path = Samples/GameConnect
	url = git@github.com:paralin/DotaGameConnect.git
[submodule "Resources/Snappy"]
	path = Resources/Snappy
	url = git@github.com:jeffesp/Snappy.Sharp.git
